<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Vue.js -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../web/images/favicon.png">
    <title>Frequently Asked Questions</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/faqs.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:600|Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../web/js/km.js"></script>
    <script type="text/javascript" src="js/drift-en.js"></script>
</head>

<body>
    <meta name="description" content="{{description}}">
    <section id="app">
        <h1>{{ title }}</h1>
        <article v-for="question in questions" :id="question.id">
            <h2>{{ question.title }}</h2>
            <p v-for="answ in question.answer" v-html="answ">{{ answ }}</p>
        </article>
    </section>
    <script type="text/javascript" src="js/faqs-en.js"></script>
</body>

</html>